<h2>New Volunteer</h2>

<p><%= render partial: '/errors', locals: { record: @volunteer } %></p>

<%= form_for @volunteer do |t| %>
    <%= t.label :name %>
    <div><%= t.text_field :name %></div>
    <%= t.submit "Create Volunteer" %>
<% end %>