<h2>Dogs</h2>

<%= link_to "All Dogs", dogs_path %>
<%= link_to "Longest in SPCA", dogs_longestinspca_path %>
<%= link_to "Rottweilers", dogs_rottweiler_path %>
<%= link_to "Female", dogs_female_path %>

<% @dogs.each do |dog| %>
<p><%= dog.name %></p>
<p><%= dog.breed %></p>
<p><%= dog.gender %></p>
<p><%= dog.age %></p>
<p><%= dog.time_in %></p>
<% end %>