<h2>Create New User</h2>

<p><%= render partial: '/errors', locals: { record: @user } %></p

<%= form_for @user, url: signup_path do |t| %>
    <%= t.label :username %>
    <div><%= t.text_field :username %></div>
    <%= t.label :password %>
    <div><%= t.password_field :password %></div>
    <%= t.label :confirm_password %>
    <div><%= t.password_field :password_confirmation %></div>
    <div><%= t.submit %></div>
<% end %> 