<h2>Add New Walk for Volunteer <%= @volunteer.name %></h2>

<p><%= render partial: '/errors', locals: { record: @walk } %></p>

<%= form_for @walk do |t| %>
    <div style="border: 10px inset grey; width: 20rem; margin: 10px; padding: 2px; background-color: white">
    <%= t.label :dog %>
    <div><%= t.collection_select :dog_id, Dog.all, :id, :name, prompt: true %></div>
    <%= t.label :Duration %> (in minutes)
    <div><%= t.number_field :duration %></div>
    <%= t.label :Date %>
    <div><%= t.date_field :date %></div>
    <%= t.hidden_field :volunteer_id, value: @volunteer.id %>
    <%= t.submit "Create Walk" %></div>
<% end %>